<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="FlowerEntities" connectionString="metadata=res://*/Model.FlowerModel.csdl|res://*/Model.FlowerModel.ssdl|res://*/Model.FlowerModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\DataBase\Flower.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
